* {
    box-sizing: border-box;
}

.wrapper {
    width: 1296px;   
    margin: 0 auto;
}

.header-menu {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-list-scan {
    display: flex;
    align-items: center;
    gap: 44px;
}

.header-logo {
    color: #000;
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}

.header-list {
    display: block;
    border: none;
    appearance: none;
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    background-color: #0F8277;
    padding: 9px 28px 9px 12px;    
    width: 98px;
}

.header-list:focus-visible {
    outline: 0;
}

.select {
    display: flex;
    position: relative;
}

.select::after {
    content: '';
    display: block;    
    background: url(../img/header_decoretion.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 14px;
    left: 78px;
    bottom: 16px;
    position: absolute;    
}

.header-search {
    display: block;
    width: 330px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #5C5C5C;   
}

.input {
    display: flex;
    position: relative;
}

.input::before {
    content: '';
    display: block;
    width: 36px;
    height: 34px;    
    background-color: #0F8277;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #5C5C5C;
    position: absolute;
    right: 0;
}

.input::after {
    content: url(../img/header_scan.svg);
    display: block;        
    background-repeat: no-repeat;     
    position: absolute;
    top: 10px;
    right: 10px;   
}

.header-search::placeholder {
    color: #5C5C5C;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    padding-left: 12px;    
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 48px;
}

.header-nav-item {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.header-buttom-login {
    color: #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 12px;
    text-decoration: none;
}

.header-buttom-signup {
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 4px;
    background: #0F8277;
    margin-left: 16px;
}

.prezent {
    margin-top: 31px;
    height: 602px;
    border-radius: 12px;
    background: #DBF3ED;
    padding-left: 110px;
    position: relative;
    display: flex;
    justify-content: space-between;    
}

.prezent-title {
    color: #000;
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    padding-top: 170px;
}

.prezent-text {
    width: 482px;
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;
    margin: 32px 0 42px 0;
}

.prezent-buttom-start {
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    background: #0F8277;
    padding: 10px 12px;
    margin-right: 24px;
    text-decoration: none;
}

.prezent-buttom-learn {
    color: #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    border: 2px solid #0F8277;
    padding: 10px 12px;
    text-decoration: none;   
}

.prezent-contener-img {    
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(81% 3%, 100% 27%, 90% 57%, 86% 85%, 66% 99%, 49% 99%, 4% 62%, 4% 30%, 25% 13%);    
}

.prezent-img {
    margin-right: 45px;
}

.academic-training {
    margin-top: 80px;
}

.section-topic {
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
}

.section-title {
    margin-top: 12px;
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
}

.section-text {
    margin-top: 12px;
    color: #000;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
}

.section-topic {
    margin-top: 40px;    
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.section-item-academic-training {
    display: block;
    width: calc(100% / 3);
    height: 480px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    text-decoration: none;
    position: relative;
}

.section-img {
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.section-text-info {
    
    margin-top: 28px;
    color: #000;    
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;  
}

.section-title-h3 {
    margin: 20px 0 0 16px;
    color: #000;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
}

.dan-it-logo::before {
    content: '';
    display: inline-block;
    background-image: url(../img/dan-logo.svg);
    width: 72px;
    height: 20px;
    padding-right: 25px;
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
    left: 16px;   
}

.eu-logo::before {
    content: '';
    display: inline-block;
    background-image: url(../img/eu_logo.svg);
    width: 18px;
    height: 20px;
    padding-right: 25px;
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 16px;   
}

.logo-prjctr::before {
    content: '';
    display: inline-block;
    background-image: url(../img/logo-prjctr.svg);
    width: 46px;
    height: 20px;
    padding-right: 25px;
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
    left: 16px;   
}

.get-o-diploma::after {
    content: 'Get a diploma';
    display: inline-block;
    color: #0F8277;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    background-image: url(../img/get-o-diploma.svg);
    width: 138px;
    height: 20px;
    padding-right: 25px;
    padding-left: 30px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 24px;
    left: 16px;   
}

.courses-specializations {
    margin-top: 80px;
}

.courses-specializations-item {
    display: block;
    width: calc(100% / 4);
    height: 480px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    text-decoration: none;
    position: relative;
}

.course::after {
    content: 'Course';
    display: inline-block;
    color: #0F8277;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;    
    width: 53px;
    height: 11px;    
    position: absolute;
    bottom: 24px;
    left: 16px;   
}

.section-learn-more {
    display: block;
    margin: 43px auto 0 auto;
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;    
}

.section-learn-more::after {
    content: '';
    display: inline-block;
    background-image: url(../img/arrow.svg);
    width: 20px;
    height: 20px;
    position: relative;
    left: 16px;
    top: 4px;
}

.featured-topics-category {
    margin-top: 80px;
}

.name-speciality {
    color: #000;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
}

.program-speciality {
    display: block;
    margin-top: 32px;
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.number-students {    
    margin-top: 10px;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
}

.cooperation-with-companies {
    margin-top: 80px;
    background-color: #DBF3ED;
    height: 382px;
}

.section-prezent-inform {
    width: 871px;
    margin: 0 auto;
    padding-top: 80px;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
}

.section-logo-companies {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.logo-companies-illinois {
    display: inline-block;
    background-image: url(../img/illinois.png);
    width: 178px;
    height: 36px;
}

.logo-companies-google {
    display: inline-block;
    background-image: url(../img/google.png);
    width: 122px;
    height: 42px;
}

.logo-companies-duke {
    display: inline-block;
    background-image: url(../img/duke.png);
    width: 106px;
    height: 36px;
}

.logo-companies-m {
    display: inline-block;
    background-image: url(../img/m.png);
    width: 63px;
    height: 66px;
}

.logo-companies-ibm {
    display: inline-block;
    background-image: url(../img/ibm.png);
    width: 97px;
    height: 39px;
}

.logo-companies-penn {
    display: inline-block;
    background-image: url(../img/penn.png);
    width: 135px;
    height: 44px;
}

.logo-companies-imperial {
    display: inline-block;
    background-image: url(../img/imperial.png);
    width: 152px;
    height: 40px;
}

.logo-companies-stanford {
    display: inline-block;
    background-image: url(../img/stenford.png);
    width: 151px;
    height: 33px;
}

.solution-for-business {
    margin-top: 80px;
}

.section-contener-business {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}

.prezent-business-list {
    width: 588px;
    height: 408px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
}

.prezent-business-item {
    height: 100%;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;    
}

.border-left {
    border-left: 1px solid #BABABA;
}

.border-bottom {
    border-bottom: 1px solid #BABABA;
}

.plan-education {
    margin-top: 80px;
    background-color: #DBF3ED;
}

.program-prices-plan-education {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 24px;    
    padding-bottom: 100px;
}

.program-prices-education {
    width: 416px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    padding: 56px;
    position: relative;
}

.program-prices-title {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
}

.program-prices-text {
    margin-top: 27px;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
}

.program-prices {
    margin-top: 27px;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
}

.program-prices::before {
    content: '$';
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    margin-right: 5px;
}

.mo::after {
    content: '/ mo';
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 16px;  
}

.y::after {
    content: '/ y';
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 16px;   
}

.program-prices-bottom {
    position: absolute;
    top: 286px;
    left: 148px;
    color: #F6FDFF;
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    background: #0F8277;
    padding: 10px 12px;
    text-decoration: none;   
}

.program-prices-education::before {
    content: '';
    display: inline-block;
    background: #0F8277;
    width: 304px;
    height: 2px;
    left: 56px;
    position: absolute;
    top: 390px;    
}

.case1 {
    margin-top: 215px;    
}

.case2 {
    margin-top: 166px;    
}

.case3 {
    margin-top: 185px;
}

.program-prices-case-item {
    margin-top: 16px;
    margin-left: 32px;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    position: relative;    
}

.bullet::before {
    content: '';
    display: inline-block;
    background-image: url(../img/bullet.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    background-color: #0F8277;
    border-radius: 100%;
    left: -32px;
    position: absolute;   
}

.grin-card {
    background-color: #0F8277;
    color: #FFFFFF;
}

.program-prices.grin-card::before {
    content: '$';
    color: #FFFFFF;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    margin-right: 5px;
}

.mo.grin-card::after {
    content: '/ mo';
    color: #FFFFFF;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 16px;  
}

.bullet.grin-card::before {
    content: '';
    display: inline-block;
    background-image: url(../img/bullet-grin.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    border-radius: 100%;
    left: -32px;
    position: absolute;   
}

.program-prices-education.grin-card::before {
    content: '';
    display: inline-block;
    background: #FFFFFF;
    width: 304px;
    height: 2px;
    left: 56px;
    position: absolute;
    top: 390px;   
}

.program-prices-bottom.grin-card {
    position: absolute;
    top: 286px;
    left: 148px;
    color: #F6FDFF;
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    background: #0F8277;
    padding: 10px 12px;
    text-decoration: none;
    border: 2px solid #FFF;
}

.section-photo-students {
    margin-top: 40px;
}

.photo-students-img {
    margin-top: 40px;
}

.photo-students-grid {
    width: 1296px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    grid-template-areas: 
        "students1 students9 students9 students8"
        "students2 students9 students9 students7"
        "students3 students4 students5 students6";
}

.students1 {   
    width: 306px;
    grid-area: students1;
}

.students2 {    
    width: 306px;
    grid-area: students2;
}

.students3 {    
    width: 306px;
    grid-area: students3;
}
.students4 {    
    width: 306px;
    grid-area: students4;
}

.students5 {    
    width: 306px;
    grid-area: students5;
}

.students6 {    
    width: 306px;
    grid-area: students6;
}

.students7 {    
    width: 306px;
    grid-area: students7;
}

.students8 {    
    width: 306px;
    grid-area: students8;
}
.students9 {    
    width: 636px;
    grid-area: students9;
}

.section-contact-inform {
    height: 727px;
    margin-top: 80px;
    background-image: url(../img/backgraund_contact_info.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

.blok-form {
    position: relative;    
}

.form {
    position: absolute;
    margin-top: 65px;
    margin-left: 401px;
    display: block;
    width: 565px;
    border-radius: 24px;
    background: #DBF3ED;    
}

.form-content {    
    width: 505px;
    margin: 0 auto;    
}

.contact-inform-title {
    padding-top: 30px;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
}

.contact-inform-text {
    margin-top: 24px;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
}

.contact-inform-name {
    margin-top: 24px;
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
}

.contact-inform-enter {
    margin-top: 8px;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

.contact-inform-enter::placeholder {
    color: #8E8E8E;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-left: 12px;
} 

.message {
    height: 104px;
    resize: none;
}

.contact-inform-button {
    margin-top: 24px;
    margin-bottom: 30px;
    color: #F6FDFF;
    text-align: center;
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    background: #0F8277;
    width: 196px;
    height: 42px;
    border-style: none;
}

.footer {
    background: #F1F1F1;
}

.footer-contener-href {
    padding-top: 63px;    
    display: flex;
    justify-content: space-between;
}

.footer-contener-text {
    padding-top: 16px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer-logo {    
    color: #000;
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}

.footer-text {    
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
}

.footer-icons {
    display: flex;
    gap: 24px;
}

.footer-instagramm-img {
    background-image: url(../img/instagram.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.footer-facebook-img {
    background-image: url(../img/facebook.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.footer-linkedin-img {
    background-image: url(../img/linkedin.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.description {
    width: 306px;
}

.copirate::before {
    content: '©';
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;

}

































